.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--gray-400);
    margin-top: 40px;
    padding-bottom: 15px;
}

.tasks_container{
    margin-top: 1.5rem;
    text-align: start;
}

.left, .right {
    display: flex;
    align-items: center;
}

.tasksCreated, .tasksCompleted {
    margin-right: 10px;
    font-weight: bold;
}

.tasksCreated{
    color: var(--blue);
}

.tasksCompleted{
    color: var(--purple);
}

.tasksCreatedCount, .tasksCompletedCount {
    background-color: var(--gray-500);
    color: var(--gray-100);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: .8rem;
    font-weight: bold;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-500);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--gray-100);
}
  
.task_content {
    flex-grow: 1; 
    margin: 0 1rem; 
}
  

.task input[type="checkbox"] {
    appearance: none;
    border: 2px solid var(--blue);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    outline: none;
    cursor: pointer;
}

.task input[type="checkbox"]:checked {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
}

.task input[type="checkbox"]:checked::after {
    content: '✔';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trash{
    cursor: pointer;
    transition: color 0.2s;
    padding: 0.2rem;
}

.trash:hover{
    color: var(--danger);
    background-color: var(--gray-400);
    border-radius: 4px;
}

.empty_todolist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
  }

